@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header {
    position: relative;
    z-index: 99;
    background-color: #1B1B1B;
    border-bottom: 1px solid #1B1B1B;
    padding: 0;
  
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      flex-wrap: wrap;
    }
  
    &__logo {
      width: 15%;
  
      img {
        height: 42px;
        margin-left:15px;
      }
  
      @media (max-width: 768px) {
        width: 25%;
        img {
          height: 35px;
        }
      }
  
      @media (max-width: 480px) {
        width: 80%;
        img {
          height: 28px;
        }
      }
    }
  
    &__nav {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-end;
      width: 80%;
  
      @media (max-width: 768px) {
        width: 75%;
      }
  
      @media (max-width: 480px) {
        width: 20%;
        flex-direction: column;
      }
    }
  
    &__menu {
      display: flex;
      gap: 30px;
  
      &-item {
        list-style: none;
  
        a {
          color: #ffffff;
          text-decoration: none;
          &:hover {
            color: #6D6D6D;
          }
        }
      }
  
      @media (max-width: 480px) {
        flex-direction: column;
        gap: 10px;
      }
    }
  
    &__join-btn {
      padding: 10px 20px;
      border: 1px solid #ffffff;
      color: #ffffff;
      background-color: transparent;
      text-decoration: none;
  
      &:hover {
        color: #1B1B1B;
        background-color: #ffffff;
      }
  
      @media (max-width: 480px) {
        display: none;
      }
    }
  
    &__dropdown {
      position: relative;
  
      &:hover .header__dropdown-content {
        display: block; // Show dropdown on hover
      }
  
      &-content {
        display: none; // initially hidden
        position: absolute;
        background-color: transparent; // Changed to transparent
        min-width: 160px; // adjust as needed
        // box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
  
        a {
          background-color: #ffffff;
            color: #1B1B1B;
          
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            color: #ffffff;
            background-color:#1B1B1B;
            
          }
        }
      }
    }
  }
  