.detail2-container {
  display: flex;
  flex-direction: row;
  padding: 2em 10em 0em 5em;
  background-color: 'black';

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 3em 0 2em 0;
  }

  @media (max-width: 576px) {
    padding: 1em 0 1em 0;
  }

  .description-section {
    background-color: 'black';

    @media (max-width: 768px) {
      width: 100%;
      padding: 1em;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 'bold';
    }

    p {
      margin-bottom: 1em;
    }

    .icon-lists {
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .icon-list {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 1em;

          i {
            margin-right: 0.5em;
            color: #C4AF78;
            font-size: 21px;
          }
        }
      }
    }

    .image-container {
      margin-top: 2em;

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;

        @media (max-width: 576px) {
          height: 250px;
        }
      }
    }
  }

  .services-section {
    margin-left: 30px;
    background-color: #030303;
    width: 40%;
    padding: 1em;

    @media (max-width: 768px) {
      width: 100%;
    }

    .services-box {
      background-color: #030303;
      padding: 1em;
      color: #FFFFFF;

      h3 {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      .icon-list {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 1em;

          i {
            margin-right: 0.5em;
            color: #C4AF78;
            font-size: 21px;
          }
        }
      }
    }

    .more-info-box {
      background-color: #030303;
      padding: 2em;
      margin-top: 5em;
      text-align: center;

      h4 {
        font-size: 1.2em;
        color: #C4AF78;
      }

      p {
        font-size: 1.1em;
        color: #FFFFFF;
      }
    }
  }
}
