.pricing5-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0 7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  // Overlay Gradient
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 75%, rgba(255, 255, 255, 1));
    z-index: 1;
  }

  .testimonial-section {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 3000px;
    margin: 0 auto;

    .testimonial-title {
      font-size: 24px;
      font-weight: 500;
      color: #DAA520;;
    }

    .testimonial-heading {
      font-size: 34px;
      color: #1B1B1B;
      margin: 0.5em 0;
      font-weight: bold;
    }

    .testimonial-description {
      font-size: 16px;
      color: #1B1B1B;
      margin-bottom: 2em;
    }

    .testimonials-wrapper {
      display: flex;
      overflow-x: hidden; /* Hide scrollbar */
      scroll-snap-type: x mandatory; /* Optional: for snap effect */
      padding: 1em 0;
    
      .testimonial-card {
        scroll-snap-align: start; /* Optional: for snapping behavior */
        background: #fff;
        border: 1px solid #D9D9D9;
        padding: 1.5em;
        margin: 0 1em; /* Margin adjusted for spacing */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 300px;
        border-radius: 8px;
        flex: 0 0 auto; /* Prevent shrinking */
        transition: transform 0.3s; /* Smooth scale effect */
    
        &:hover {
          transform: scale(1.05); /* Scale effect on hover */
        }
    
        .testimonial-photo {
          display: block; /* Make it a block element */
          margin: 0 auto; /* Center horizontally */
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 1em;
        }
    
        .client-name {
          font-size: 16px;
          font-weight: 600;
          color: #1B1B1B;
        }
    
        .client-designation {
          font-size: 14px;
          color: #666;
          margin-bottom: 0.5em;
        }
    
        .client-review {
          font-size: 14px;
          color: #1B1B1B;
          line-height: 1.4;
        }
      }
    }
    
  }
}
