.faq-container {
  padding: 5em 0 7em 0;
  
  .faq-header {
      text-align: center;
      margin-bottom: 2em;

      .faq-title {
          color: #FFFFFF; // Change as per your theme
      }
      
      .faq-subtitle {
          font-weight: bold;
      }
      
      .faq-description {
          margin-top: 1em;
      }
  }
  
  .accordion-container {
      .accordion-item {
          border: 1px solid #ddd;
          margin-bottom: 1em;
          border-radius: 5px;
          
          &.active {
              background-color: #f9f9f9; // Change to your active state color
          }
          
          .accordion-header {
              display: flex;
              justify-content: space-between;
              padding: 21px;

              h5 {
                  margin: 0;
              }

              .accordion-icon {
                  font-size: 16px; // Adjust based on your design
              }
          }

          .accordion-content {
              padding: 21px;
              border-top: 1px solid #ddd;
          }
      }
  }
}
