.detailedProgram-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  // padding-top: 7%;
  opacity: 100%;
}

.detailedProgram-overlay {
  background-color: rgba(0, 0, 0, 0.5); // Add a dark overlay on the image
  // padding: 0em 3em;
  color: white;
  text-align: center;
}

.detailedProgram-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.detailedProgram-text {
  color: white;
  // margin-top: 1em;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; // Ensure the header stays on top of the image
}
