// styles/hero5.scss
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero5 {
    display: flex;
    flex-direction: column;
    padding: 5em 0 7em 0;
    justify-content: space-between;
    background-color: var(--background-color); // Assuming a global variable

    &-container {
        // max-width: 1000px;
        padding: 2em;
    }

    &-heading {
        text-align: center;
        margin-bottom: 2em;
        
        .hero5-title {
            color: goldenrod;
            font-family: "Poppins", sans-serif;
            font-size: 1em; // Adjust size as needed
            margin-bottom: 0.5em;
        }

        .hero5-subtitle {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 1.8em; // Adjust size as needed
        }
    }

    &-icon-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .icon-box {
            gap: 20px;
            border-radius: 5px;
            border: 1px solid rgb(53, 53, 53);
            flex: 0 0 33%;
            display: flex;
            flex-direction: column; // Align content in a row
            align-items: flex-start; // Align content to the top
            padding: 2em;
    
            .icon-box-image {
                width: 70px; // Set width as needed
                height: 60px; // Set height as needed
                background-size: cover;
                background-position: center;
                margin-right: 1em; // Add margin to the right to separate the content
                border-radius: 8px;
            }
    
            .icon-box-content {
                flex: 1; // Take the remaining space
                .title {
                    font-family: "Poppins", sans-serif;
                    font-weight: bold;
                    text-align: left;
                }
            }
        }
    }

    &-cards {
        display: flex;
        justify-content: space-between;

        .hero5-card {
            border-radius: 5px;
            flex: 0 0 33%;
            background-size: cover;
            background-position: center;
            height: 400px; // Minimum height
            display: flex;
            align-items: flex-end;
            padding: 1em;
            color: #1B1B1B;

            .card-content {
                background-color: rgba(255, 255, 255, 0.8);
                padding: 1em;
                border-radius: 8px;

                .card-title {
                    font-size: 1.5em;
                    font-weight: bold;
                }

                .learn-more-button {
                    background-color: #1B1B1B;
                    color: #FFFFFF;
                    border: none;
                    padding: 0.5em 1em;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #6D6D6D;
                    }
                }
            }
        }
    }
}
