@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap');

.hero5-container {
    background-color: #f9f9f9; // Example background color
    padding: 5em 0 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero5-content {
    max-width: 1500px;
    padding: 1em;
    text-align: center;
}

.hero5-title {
    font-family: "Poppins", sans-serif;
    color: goldenrod; // Example text color
}

.hero5-subtitle {
    font-family: "Poppins", sans-serif;
    color: #555; // Example subtitle color
}

.hero5-boxes {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.hero5-box {
    width: 100%; // Full width on mobile
    max-width: 450px; // Max width for larger screens
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff; // Example background color
    margin: 1em 0; // Spacing between boxes

    i{
        width: 30px;
        padding: 6px;
        height: 40px;
    }
}

.cta-box {
    gap: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 5px;
    color: #FFFFFF; // Change text color if necessary
    background-size: cover;
    min-height: 275px;
    margin: 1em 0; // Spacing between CTA boxes
}

.cta-title {
    color: #1B1B1B; // Title color
    font-size: 31px;
    font-weight: 600;
}

button {
    background-color: #1B1B1B;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; // Space above button
}