.faq-section {
  padding: 1% 0; // Adjust as needed
  background-position: center center;
  background-size: cover;

  .faq-container {
      max-width: 720px;
      margin: 0 auto;
      padding: 5em 2em;

      .faq-title {
          text-align: center;
          color: #f5f0f0; // Replace with your global color
          margin: 0;
      }

      .faq-subtitle {
          text-align: center;
          color: #f0e9e9; // Replace with your global color
          margin: 1em 0;
      }

      .faq-items {
          .faq-item {
              margin: 1em 0;
              border: 1px solid #ddd; // Example border
              border-radius: 5px;
              padding: 1em;

              .faq-question {
                  font-weight: bold;
              }

              .faq-answer {
                  margin-top: 0.5em;
                  color: #f7f6f6; // Adjust color as needed
              }
          }
      }
  }
}
