.detail4-container {
  display: flex;
  flex-direction: column;
  padding: 5em 0 7em 0;

  @media (max-width: 768px) {
    padding: 1em 0 3em 0;
  }

  .heading {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .sub-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .facility-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .flip-box {
      width: 25%;
      padding: 1em;
      text-align: center;
      border: 4px solid var(--border-color);
      background-color: var(--bg-color);
      transition: transform 0.5s;
      margin-bottom: 2em;

      &:hover {
        transform: rotateY(180deg);
      }

      .title {
        font-size: 31px;
        font-weight: 600;
        color: var(--title-color);
        margin-bottom: 7px;
      }

      .description {
        font-size: 14px;
        color: var(--desc-color);
      }

      @media (max-width: 768px) {
        width: 50%;
        .title {
          font-size: 25px;
        }
        .description {
          font-size: 13px;
        }
      }

      @media (max-width: 576px) {
        width: 100%;
        .title {
          font-size: 20px;
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}
